<html>
    

    <head>
        <title>This is Download  PAGE FILE</title>
        <style>
            a {
   background-color: #00EB89;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    color: #FFFFFF;
    cursor:pointer;
  }
  
  a:hover {
    background-color: #555;
  }
  
  a:active {
    background-color: black;
  }
  
  a:visited {
    background-color: #ccc;
  }
  
        </style>
    </head>
    <link rel="icon" href="/img/weather.png">
    {{!-- <link rel="stylesheet"  href="/public/css/style.css"> --}}
    
    <body>
        <div class="main-content">
            <div>
                Hello World,
            </div>
            <h1>Welcomes To Download Page </h1>
         <a href={{name}} target="" >click on Button to download Your File</a>  
        
       
        <p id="m1">
        </p>
        <p id="m2">
        </p>
        </div>
        
         <script src="/js/app.js"></script>
    </body>
   
</html>